# Core functionality - changes here should be rare!
/src/app.py                   @OwuenYagual
/src/backend/database.py      @OwuenYagual
/src/backend/routers/auth.py  @OwuenYagual

# The frontend will need refactored soon to be more object oriented.
/src/static/   @OwuenYagual
